.gradient-black {
  background: linear-gradient(
    to left,
    black 0%,
    rgba(0, 0, 0, 0.393),
    transparent 80%
  );
}

.mining-btn {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 13rem;
  min-height: 3rem;
}

.mining-btn-style {
  background: linear-gradient(
    to bottom,
    #f9a825,
    #f57f17
  ); /* bright orange gradient */
  color: white;
  font-weight: bold;
  padding: 12px 32px;
  border: none;
  border-radius: 999px; /* pill shape */
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* dark drop shadow */
  transition: transform 0.2s ease;
}
